<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
  <system>
  <group id="customer">
  <label>Disabled CUstomer Registation</label>
   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
  </system>
</config>
